.meal-body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.meal-nav nav{
    background-color: #007bff;
}
.meal-nav nav h1{
    padding: 20px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}
.meal-main {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
}
.meal-container {
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 20px;
    overflow: scroll;
    gap: 20px;
}
.selected-meal{
    color:#007bff;
}
.meal-heading {
    text-align: start;
    font-weight:550;
    font-size: 20px;
    padding-left: 5px;
    padding-top:20px;

}
.meal-card {
    background-color: white;
    width: 316px;
    padding: 8px 8px 0px 8px;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
    transition: transform 0.3s ease;
    display: flex;
    max-height:350px;
    flex-direction: column;
}
.meal-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.meal-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 550;
    padding: 8px;
    color: black;
}
.meal-sidebar {
    background-color: rgb(194, 215, 238);
    box-shadow: -8px 0 12px -4px rgba(0, 0, 0, 0.15);
    position: relative;
    right: 0px;
    top: 0;
    bottom: 0;
    padding-left: 10px;
    max-width: 250px;
    margin-right: 20px;
}
.meal-card:hover {
    transform: scale(1.05);
}

.meal-list {
    padding: 5px;
    width: 240px;
}

.meal-sidebar h2 {
    padding-top: 20px;
    padding-left: 10px;
}
.category-item {
    padding: 10px;
    font-size: 18px;
    list-style: none;
    margin: 5px;
    text-align:justify;
    transition: transform 0.3s ease;
}

.category-item:hover {
    color: white;
    border-radius: 3px;
    background-color: #007bff;
}

.category-item.active {
    background-color: #007bff;
    color: white;
}