*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-center {
    margin: 35vh 25%;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(251, 249, 249, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 0.35); */
    display: flex;
    justify-content: center;
    flex-direction: column;
}